@import "src/app/core/scss/fuse";
.profile-box {
    margin-top: 16px;
    margin-bottom: 16px;
    @include mat-elevation(2);
    header {
        padding: 16px;
        .title {
            font-size: 17px;
        }
        .more {
            cursor: pointer;
        }
    }
    .content {
        padding: 16px;
        background-color: #FFF;
    }
}

.table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
  }
  th, td {
    padding: 8px 12px;
    border: 1px solid #ccc;
    text-align: left;
  }
  thead {
    background: #f5f5f5;
  }